.phoneBook {
    width: 100%;
    padding-top: 40px;
}

.tabsWrapper {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    width: 100%;
}

.tabsWrapper .tab {
    flex: 1;
    min-width: 36px;
    margin-top: -4px;
}

.tabsWrapper .tab button {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #cfcfcf;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    font-size: 14px;
}

.tabsWrapper .tab button small {
    position: absolute;
    bottom: 2px;
    right: 2px;
    font-size: 10px;
    color: #737373;
;
}

.contactsWrapper {
    overflow: auto;
    height: calc(100vh - 100px);
    background-color: #eeeeee;
    border-radius: 0 0 8px 8px;
    padding: 24px 0;
    box-shadow: 0 0 5px 0 #999999;
    border: 1px solid #cfcfcf;
    border-top: none;
}

.error {
    color: #cc0000;
    background-color: #ffe6e6;
    box-shadow: 0 0 5px 0 #999999;
    padding: 16px;
    border-radius: 8px;
    margin-top: 40px;
}

@media screen and (min-width: 767px) {
    .contactsWrapper {
        padding: 40px 24px;
    }
}